@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);









body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Lato', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Lato', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Lora', serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Lora', serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Lora', serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Lora', serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #83b1e4 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #3d8eb9 !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #83b1e4;
  border-color: #83b1e4;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #4489d6;
  border-color: #4489d6;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #4489d6 !important;
  border-color: #4489d6 !important;
}
.btn-secondary {
  background-color: #faaf40;
  border-color: #faaf40;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #e78d06;
  border-color: #e78d06;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e78d06 !important;
  border-color: #e78d06 !important;
}
.btn-info {
  background-color: #3d8eb9;
  border-color: #3d8eb9;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #2a627f;
  border-color: #2a627f;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #2a627f !important;
  border-color: #2a627f !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #2f7cd2;
  color: #2f7cd2;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #83b1e4;
  border-color: #83b1e4;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #83b1e4 !important;
  border-color: #83b1e4 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #cf7d05;
  color: #cf7d05;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #faaf40;
  border-color: #faaf40;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #faaf40 !important;
  border-color: #faaf40 !important;
}
.btn-info-outline {
  background: none;
  border-color: #24536c;
  color: #24536c;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #3d8eb9;
  border-color: #3d8eb9;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #3d8eb9 !important;
  border-color: #3d8eb9 !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #83b1e4 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #3d8eb9 !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #3d8eb9;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #83b1e4;
}
.btn-social:hover {
  background: #83b1e4;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #83b1e4;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #83b1e4;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #83b1e4;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #83b1e4;
}
.lead a,
.lead a:hover {
  color: #83b1e4;
}
.lead blockquote {
  border-color: #83b1e4;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #98c5dd;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #83b1e4;
}
#menu-u .hide-buttons .nav-btn {
  display: none !important;
}
#menu-u .navbar-caption {
  color: #ffffff;
}
#menu-u .navbar-toggler {
  color: #f3c649;
}
#menu-u .close-icon::before,
#menu-u .close-icon::after {
  background-color: #f3c649;
}
#menu-u .link,
#menu-u .dropdown-item {
  color: #f3c649;
  font-family: 'Lato', sans-serif;
}
#menu-u .link {
  font-size: 0.75rem;
}
#menu-u .dropdown-item,
#menu-u .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-u .link:hover,
#menu-u .dropdown-item:hover,
#menu-u .link:focus,
#menu-u .dropdown-item:focus {
  color: #83b1e4;
}
#menu-u .link[aria-expanded="true"],
#menu-u .dropdown-menu {
  background: #0a0a0a;
}
#menu-u .nav-dropdown-sm .link:focus,
#menu-u .nav-dropdown-sm .link:hover,
#menu-u .nav-dropdown-sm .dropdown-item:focus,
#menu-u .nav-dropdown-sm .dropdown-item:hover {
  background: #1d1b1b!important;
}
#menu-u .navbar,
#menu-u .nav-dropdown-sm,
#menu-u .nav-dropdown-sm .link[aria-expanded="true"],
#menu-u .nav-dropdown-sm .dropdown-menu {
  background: #252222;
}
#menu-u .bg-color.transparent .link {
  color: #f3c649;
  transition: none;
}
#menu-u .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-u .bg-color.transparent.opened .link:hover,
#menu-u .bg-color.transparent.opened .link:focus {
  color: #83b1e4;
}
#menu-u .link[aria-expanded="true"],
#menu-u .dropdown-item[aria-expanded="true"] {
  color: #83b1e4!important;
}
#header2-w .mbr-section-title {
  color: #f3c649;
  font-size: 36px;
}
#header2-w .mbr-section-text {
  text-align: left;
}
#msg-box3-1c .mbr-section-title,
#msg-box3-1c p {
  color: #000;
}
#msg-box3-1c .lead P {
  text-align: left;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}
#msg-box3-1c .mbr-section-title {
  font-size: 25px;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
#msg-box3-1c .mbr-section-title I {
  font-family: 'Arimo', sans-serif;
}
#contacts1-2o STRONG {
  color: #fac51c;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}
#contacts1-2o P {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}




#menu-1m .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1m .navbar-caption {
  color: #ffffff;
}
#menu-1m .navbar-toggler {
  color: #f3c649;
}
#menu-1m .close-icon::before,
#menu-1m .close-icon::after {
  background-color: #f3c649;
}
#menu-1m .link,
#menu-1m .dropdown-item {
  color: #f3c649;
  font-family: 'Lato', sans-serif;
}
#menu-1m .link {
  font-size: 0.75rem;
}
#menu-1m .dropdown-item,
#menu-1m .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1m .link:hover,
#menu-1m .dropdown-item:hover,
#menu-1m .link:focus,
#menu-1m .dropdown-item:focus {
  color: #83b1e4;
}
#menu-1m .link[aria-expanded="true"],
#menu-1m .dropdown-menu {
  background: #0a0a0a;
}
#menu-1m .nav-dropdown-sm .link:focus,
#menu-1m .nav-dropdown-sm .link:hover,
#menu-1m .nav-dropdown-sm .dropdown-item:focus,
#menu-1m .nav-dropdown-sm .dropdown-item:hover {
  background: #1d1b1b!important;
}
#menu-1m .navbar,
#menu-1m .nav-dropdown-sm,
#menu-1m .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1m .nav-dropdown-sm .dropdown-menu {
  background: #252222;
}
#menu-1m .bg-color.transparent .link {
  color: #f3c649;
  transition: none;
}
#menu-1m .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1m .bg-color.transparent.opened .link:hover,
#menu-1m .bg-color.transparent.opened .link:focus {
  color: #83b1e4;
}
#menu-1m .link[aria-expanded="true"],
#menu-1m .dropdown-item[aria-expanded="true"] {
  color: #83b1e4!important;
}
#msg-box8-1z .mbr-section-title,
#msg-box8-1z p {
  color: #fff;
}
#msg-box8-1z .mbr-section-title {
  color: #c1e4cb;
  font-size: 36px;
  font-family: 'PT Serif', serif;
}
#msg-box8-1z .lead P {
  color: #ffffff;
}
#msg-box8-1z .mbr-section-title SPAN {
  text-align: left;
}
#form1-21 .form-control-label {
  color: #232323;
}
#contacts1-2o STRONG {
  color: #fac51c;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}
#contacts1-2o P {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}



#content5-2g .mbr-section-title,
#content5-2g p {
  color: #fff;
}
#content5-2g .mbr-section-title {
  color: #a9d1e7;
}
#content5-2g P {
  text-align: left;
  color: #f9e492;
}
#content5-2g DIV {
  color: #f7da64;
}
#msg-box3-2p .mbr-section-title,
#msg-box3-2p p {
  color: #000;
}
#msg-box3-2p .mbr-section-title {
  text-align: left;
  font-size: 46px;
}
#msg-box3-2p .lead P {
  text-align: left;
}
#msg-box3-2p .lead {
  text-align: left;
}
#contacts1-2o STRONG {
  color: #fac51c;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}
#contacts1-2o P {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
#menu-1m .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1m .navbar-caption {
  color: #ffffff;
}
#menu-1m .navbar-toggler {
  color: #f3c649;
}
#menu-1m .close-icon::before,
#menu-1m .close-icon::after {
  background-color: #f3c649;
}
#menu-1m .link,
#menu-1m .dropdown-item {
  color: #f3c649;
  font-family: 'Lato', sans-serif;
}
#menu-1m .link {
  font-size: 0.75rem;
}
#menu-1m .dropdown-item,
#menu-1m .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1m .link:hover,
#menu-1m .dropdown-item:hover,
#menu-1m .link:focus,
#menu-1m .dropdown-item:focus {
  color: #83b1e4;
}
#menu-1m .link[aria-expanded="true"],
#menu-1m .dropdown-menu {
  background: #0a0a0a;
}
#menu-1m .nav-dropdown-sm .link:focus,
#menu-1m .nav-dropdown-sm .link:hover,
#menu-1m .nav-dropdown-sm .dropdown-item:focus,
#menu-1m .nav-dropdown-sm .dropdown-item:hover {
  background: #1d1b1b!important;
}
#menu-1m .navbar,
#menu-1m .nav-dropdown-sm,
#menu-1m .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1m .nav-dropdown-sm .dropdown-menu {
  background: #252222;
}
#menu-1m .bg-color.transparent .link {
  color: #f3c649;
  transition: none;
}
#menu-1m .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1m .bg-color.transparent.opened .link:hover,
#menu-1m .bg-color.transparent.opened .link:focus {
  color: #83b1e4;
}
#menu-1m .link[aria-expanded="true"],
#menu-1m .dropdown-item[aria-expanded="true"] {
  color: #83b1e4!important;
}





#msg-box8-2x .mbr-section-title,
#msg-box8-2x p {
  color: #fff;
}
#msg-box8-2x .mbr-section-title {
  color: #efdc9e;
  font-family: 'Lato', sans-serif;
}
#msg-box8-2x .lead P {
  color: #000000;
  text-align: center;
}
#content1-2y DIV {
  text-align: center;
}
#content1-2y PRE {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  text-align: left;
}
#menu-2s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2s .navbar-caption {
  color: #ffffff;
}
#menu-2s .navbar-toggler {
  color: #f3c649;
}
#menu-2s .close-icon::before,
#menu-2s .close-icon::after {
  background-color: #f3c649;
}
#menu-2s .link,
#menu-2s .dropdown-item {
  color: #f3c649;
  font-family: 'Lato', sans-serif;
}
#menu-2s .link {
  font-size: 0.75rem;
}
#menu-2s .dropdown-item,
#menu-2s .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-2s .link:hover,
#menu-2s .dropdown-item:hover,
#menu-2s .link:focus,
#menu-2s .dropdown-item:focus {
  color: #83b1e4;
}
#menu-2s .link[aria-expanded="true"],
#menu-2s .dropdown-menu {
  background: #0a0a0a;
}
#menu-2s .nav-dropdown-sm .link:focus,
#menu-2s .nav-dropdown-sm .link:hover,
#menu-2s .nav-dropdown-sm .dropdown-item:focus,
#menu-2s .nav-dropdown-sm .dropdown-item:hover {
  background: #1d1b1b!important;
}
#menu-2s .navbar,
#menu-2s .nav-dropdown-sm,
#menu-2s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2s .nav-dropdown-sm .dropdown-menu {
  background: #252222;
}
#menu-2s .bg-color.transparent .link {
  color: #f3c649;
  transition: none;
}
#menu-2s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2s .bg-color.transparent.opened .link:hover,
#menu-2s .bg-color.transparent.opened .link:focus {
  color: #83b1e4;
}
#menu-2s .link[aria-expanded="true"],
#menu-2s .dropdown-item[aria-expanded="true"] {
  color: #83b1e4!important;
}
#contacts1-2u STRONG {
  color: #fac51c;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}
#contacts1-2u P {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
